body {
    background-color: #2a3247;
    color: #a4b3ce
}

.MenuTab {
    padding: 10px;
    border: 2px groove #949693;
}

.PaliaClock_Container {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;
    border: 3px groove #949693;
    padding: 10px;
    background-color: #2f374b;
}

.PaliaClockImage_Container {
    margin: auto;
    width: 200px;
    height: 200px;
}

.PaliaClock_outerring{
    position: absolute;
    margin: auto;
    display: block;
}

.PaliaClock_background {
    position: absolute;
    margin: auto;
    display: block;
}
.PaliaClock_hand {
    position: absolute;
    margin: auto;
    display: block;
    z-index: 3;
}

.PaliaClock_SunMoon {
    position: absolute;
    transform: translate(76.5px, 76.5px);
    margin: auto;
    display: block;
    z-index: 4;
}

.PaliaTime {
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.PaliaDayPeriod {
    margin: auto;
    width: 50%;
    padding: 5px;
    text-align: center;
}